


<div class="row">
   <div class="col-md-8 offset-md-2">
    <div class="form-group">
        <label for="pName"> Product Name</label>
        <input type="text" #pName id="pName" [value]="selectedProduct.pName" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="pStatus">Product Status</label>
        <select name="" id="" #pStatus
        [value]="selectedProduct.pStatus" class="form-control">
            <option value="In-progress">In-Progress</option>
            <option value="Dispatched">Dispatched</option>
            <option value="Delivered">Delivered</option>
        </select>
    </div>
    
    <div class="text-right">
        <!-- <button class="btn btn-primary" (click)="onProductUpdate(pName,pStatus)">Update Product</button>-->
        <button mat-raised-button color="primary" 
        (click)="onProductUpdate(pName,pStatus)">Update Product</button>
    </div>
   </div>
</div>