

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" name="" id="userName" #userName [value]="selectedUser.userName" class="form-control">
        </div>
        
        <div class="form-group">
            <!-- <label for="userId">UserId</label> -->
            <!-- <input type="text" id="userId" class="form-control"> -->
            <select name="" id="" [value]="selectedUser.id"  class="form-control">
                <option value="123">123</option>
                <option value="246">246</option>
                <option value="369">123</option>
                <option value="482">482</option>
            </select>
        </div>
        
        <div class="text-right">
            <button class="btn btn-primary" (click)="onupdateUser(userName)">Update User</button>
        </div>
    </div>
</div>
